<form class="{{cssClass}}" autocomplete="off">

    {{!-- header --}}
    {{> "systems/morkborg/templates/item/parts/item-header.html"}}
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/morkborg/templates/item/parts/item-description.html"}}

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <h1>{{ localize "MB.ItemFeatureDetails" }}</h1>
           
           
        </div>
    </section>
</form>
